.box{
    border: 1px solid transparent;
    text-align: center;
    background-color: orangered;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
}





/* div{
    border: 1px solid transparent;
    text-align: center;
    background-color: orangered;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
} */




/* .firstClass{
    color: aqua;
}

.secondClass{
    background-color: yellowgreen;
} */